<footer>
    <div id="footer-grid-categories">

        <div class="category-in-footer-grid">
            <p>mygiftshop</p>
            <p>1750 Finch Ave E</p>
            <p>Toronto, ON M2J 2X5</p>
            <p>416-123-4567</p>
            <p><a href="mailto:info@mygiftshop.com">info@mygiftshop.com</a></p>
        </div>

        <div class="category-in-footer-grid">
            <p>Hear all about us!</p>
            <form>  <!-- to be implemented in the future -->
                <div id="footer-subscription">
                    <input type="email" id="email-field" name="useremail" placeholder="Your e-mail">
                    <input type="submit" id="subscribe-button" value="Subscribe">
                </div>
            </form>
            <br>
            <p>
                <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="#"><i class="fab fa-whatsapp fa-2x"></i></a>
            </p>
        </div>

    </div>
    <br>
    <div id="footer-grid-copyright">
        <p>© 2020 by mygiftshop, Inc.
            <a href="#top"><i class="far fa-arrow-alt-circle-up"></i></a>
        </p>
    </div>
</footer>