<br><br>

<h2>Clerk Dashboard</h2>

<div class="dashboard">

    {{#if user}}     <!-- CHECK if needed - maybe the user can only get here if the session is valid -->
        <p>Hello, {{user.firstName}} {{user.lastName}}! Welcome to mygiftshop!</p>
        <p><a href="/product/add"><button type="button" class="btn btn-primary" style="width: 250px;">Add new product</button></a></p>
        <p><a href="/product/add/list"><button type="button" class="btn btn-primary" style="width: 250px;">View and update products</button></a></p>
        <p><a href="/user/logout">Logout</a></p>
    {{/if}}

</div>

